<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-6">
 <title>Comic Sans MS</title>
  <title> текст </title>
 </head>
 <body>
  <h1> Sorry. It's Richard's project. It site was created for difficult task. Your victim will help society. RichArd. Coming out.</h1>
  <img src="Good_evil.jpg">
  body {
   	   background: #000000;
	   color: #800000;
   }
 </body>
</html>